<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login </title>
<label></label>
<form method="post" action="/login">
<h1>login</h1>
<label>Email</label>
<input type="text" name="email" required>
<div class="email error"></div>
<label for="password">password</label>
<input type="password" name="password" required>
<div class="password error">
</div>
<button>login</button>
</form>
</body>
<ul>
    <li><a href="/login">Log In</a></li>
    <li><a href="/signup">sing up</a></li>
</ul>
</html> 