<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Signup</title>
<form method="post" action="/users/register">
<h1>Signup</h1>
<label>name</label><br>
<input type="text" name="username" required><br>
<label>Email</label><br>
<input type="text" name="email" required><br>
<div class="email error"></div><br>
<label for="password">password</label><br>
<input type="password" name="password" required><br>
</div>
<button>Sign Up</button>
</form>
</body>
</html> 
<ul>
<li><a href="/users/login">Log In</a></li>
<li><a href="/users/register">Sign up</a></li>
</ul>
